.section__4 {
    position: absolute;
    width: 1100px;
    height: 27px;
    left: 188px;
    top: 370px;
  
    background: #e2e2e2;
    border-radius: 13.5px;
  }
  
  .section4__mon {
    position: absolute;
    width: 33px;
    height: 16px;
    left: 69px;
    top: -5px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  
    /* Grey shades/Hover grey */
  
    color: #515151;
  }
  
  .section4__tue {
    position: absolute;
    width: 33px;
    height: 16px;
    left: 229px;
    top: -5px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  
    /* Grey shades/Hover grey */
  
    color: #515151;
  }
  
  .section4__wed {
    position: absolute;
    width: 33px;
    height: 16px;
    left: 389px;
    top: -5px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  
    /* Grey shades/Hover grey */
  
    color: #515151;
  }
  
  .section4__thur {
    position: absolute;
    width: 33px;
    height: 16px;
    left: 549px;
    top: -5px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  
    /* Grey shades/Hover grey */
  
    color: #515151;
  }
  
  .section4__fri {
    position: absolute;
    width: 33px;
    height: 16px;
    left: 709px;
    top: -5px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  
    /* Grey shades/Hover grey */
  
    color: #515151;
  }
  
  .section4__sat {
    position: absolute;
    width: 33px;
    height: 16px;
    left: 869px;
    top: -5px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  
    /* Grey shades/Hover grey */
  
    color: #515151;
  }
  
  .section4__sun {
    position: absolute;
    width: 33px;
    height: 16px;
    left: 1029px;
    top: -5px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  
    /* Grey shades/Hover grey */
  
    color: #515151;
  }
  
  .section__5 {
    position: absolute;
    width: 1100px;
    height: 460px;
    left: 188px;
    top: 429px;
  
    /* Grey shades/White_2 */
  
    background: #f6f6f6;
  }
  
  .section5__card1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card1__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #f86624;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card1__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 22%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card2__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card2__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card3 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 35%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card3__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card3__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card4 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 48%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card4__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card4__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card6 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 60%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card6__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card6__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  .section5__card7 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 80%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card7__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card7__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card8 {
    position: absolute;
    left: 16%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card8__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #f86624;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card8__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card9 {
    position: absolute;
    left: 16%;
    right: 0%;
    top: 22%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card9__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card9__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card10 {
    position: absolute;
    left: 16%;
    right: 0%;
    top: 35%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card10__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card10__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card11 {
    position: absolute;
    left: 16%;
    right: 0%;
    top: 48%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card11__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card11__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card12 {
    position: absolute;
    left: 31%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card12__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #f86624;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card12__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  .section5__card13 {
    position: absolute;
    left: 31%;
    right: 0%;
    top: 21%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card13__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #f86624;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card13__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card14 {
    position: absolute;
    left: 31%;
    right: 0%;
    top: 43%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card14__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #f86624;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card14__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card15 {
    position: absolute;
    left: 31%;
    right: 0%;
    top: 65%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card15__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #f86624;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card15__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card16 {
    position: absolute;
    left: 46%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card16__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card16__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  .section5__card17 {
    position: absolute;
    left: 46%;
    right: 0%;
    top: 13%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card17__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card17__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  .section5__card18 {
    position: absolute;
    left: 60%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card18__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #f86624;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card18__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card19 {
    position: absolute;
    left: 60%;
    right: 0%;
    top: 22%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card19__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card19__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card20 {
    position: absolute;
    left: 60%;
    right: 0%;
    top: 35%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card20__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card20__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card21 {
    position: absolute;
    left: 60%;
    right: 0%;
    top: 48%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card21__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card21__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card22 {
    position: absolute;
    left: 60%;
    right: 0%;
    top: 60%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card22__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card22__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  .section5__card23 {
    position: absolute;
    left: 60%;
    right: 0%;
    top: 80%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card23__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card23__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card24 {
    position: absolute;
    left: 75%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card24__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #f86624;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card24__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  .section5__card25 {
    position: absolute;
    left: 75%;
    right: 0%;
    top: 21%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card25__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #f86624;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card25__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card26 {
    position: absolute;
    left: 75%;
    right: 0%;
    top: 43%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card26__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #f86624;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card26__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card27 {
    position: absolute;
    left: 75%;
    right: 0%;
    top: 65%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card27__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #f86624;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card27__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card28 {
    position: absolute;
    left: 88%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 135px;
    height: 87px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card28__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #f86624;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card28__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card29 {
    position: absolute;
    left: 88%;
    right: 0%;
    top: 22%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card29__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card29__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card30 {
    position: absolute;
    left: 88%;
    right: 0%;
    top: 35%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card30__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card30__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }
  
  .section5__card31 {
    position: absolute;
    left: 88%;
    right: 0%;
    top: 48%;
    bottom: 0%;
    width: 135px;
    height: 47px;
  
    /* Grey shades/White */
  
    background-color: #ffffff;
    /* Grey shades/grey 3 */
  
    border: 0.5px solid #939393;
    border-radius: 4px;
  }
  
  .card31__h1 {
    font-size: 16px;
    margin-top: -1px;
    text-align: center;
    background: #04724d;
    border-radius: 4px 4px 0px 0px;
  }
  
  .card31__p {
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
  }